body{
    margin: 0;
    padding: 0;
    min-height: 1450px;
    background-color: rgb(20, 21, 21);
    color: white;
    font-family: 'cairo',sans-serif ;
}

section{
    position: relative;
    min-height: 30 vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bg{
position: fixed;
background-image: url(https://www3.0zz0.com/2024/08/30/20/344432785.png);
background-size: cover;
background-attachment:fixed ;
width: 100%;
height: 0px;
border-top: 1px solid #a9a0a0;
border-bottom: 1px solid #636265;

}
div button{
    width: 140px;
    padding: 3px;
    font-family: 'color',sans-serif;
    background-color: white;
    font-size: 22px;
    color: rgb(7, 7, 7);
    border: 2px solid white;
    margin-top: 10px;
    font-style:bold;
    border-radius: 20px 0px 20px 0px ;
    cursor:pointer;
    transition: 1s;
}
div button:hover{
    color: white;
    background: hsl(29,93%,48%);
    border: 2px solid hsl(0, 94%, 49%);;

}
#d1 ,#d2,#d3,#d4{
    width: 450px;
    height: 360px;
    background-color: rgba(8, 8, 8, 0.1);
    border-radius:30px ;
    color: rgb(236, 84, 84);
    text-shadow: 0px 1px white;
    margin-top: 50px;
    display: none;

 }

#sor{
    left: 410px;
    border-radius: 45px;
}
img{
    max-width: 100%;
}

#ss{
    color: rgb(97, 102, 96);
    font-size:22px;
}

#rob rt ,rb {
    font-size: 20px;
    color: rgb(184, 176, 180);
    
}
   